<!--
* File: changeTXT.ejs
* Description: partial pour changer le texte
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<div class="jumbotron pt-3 pb-3">
    <h3>
        Changer texte
    </h3>
    <form id="texte" onsubmit="return false;">
        <input class="form-control" type="text" name="texte" placeholder="Enter your texte" maxlength="250" required /> <br>
        <input class="btn btn-primary" type="submit" value="Envoyer" />
    </form>
</div>