<!--
* File: changePASS.ejs
* Description: partial pour changer le mot de passe
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<div class="jumbotron pt-3 pb-3">
    <h3>
        Changer mot de passe
    </h3>
    <form id="password" onsubmit="return false;">
        <input class="form-control" type="password" name="password" placeholder="Enter your password" maxlength="250" required /> <br>
        <input class="btn btn-primary" type="submit" value="Envoyer" />
    </form>
</div>