<!--
* File: default.ejs
* Description: partial pour le texte par défaut
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<div class="jumbotron pt-3 pb-3">
    <h1 id="login">
        <%= login %>
    </h1>
    <p id="pTexte" class="text-success">
        <%= texte %>
    </p>
</div>