<!--
* File: footer.ejs
* Description: partial pour le footer
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<footer>
    <p class="text-center">© Copyright 2024 SDC</p>
</footer>