<!DOCTYPE html>
<html lang="fr-FR">

<head>
  <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
  <%- include('../partials/navbar') %>
  <div class="jumbotron p-3" id="login">
    <h1>
      <%= title %>
    </h1>
    <form method="post" action="/users">
      <input class="form-control" type="text" name="login" placeholder="Enter your login" autocomplete="current-password" required />
      <input class="form-control mt-2" type="password" name="password" placeholder="Enter your password" autocomplete="current-password" required />
      <input class="btn btn-primary mt-2" type="submit" value="Connexion" />
      <% if (error == 1) { %>
        <p class="text-danger"> Utilisateur ou mot de passe inconnu !</p>
      <% } %>
    </form>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>