<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
    <%- include('../partials/navbar') %>
    <%- include('../partials/default') %>
    <%- include('../partials/footer') %>
</body>
</html>