<!--
* File: level0.ejs
* Description: page de niveau 0
* Author: samuel Des Cormiers
* Created: 2024-10-21
* Version: 1.0
-->
<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/head') %>
</head>

<body class="mx-3 pt-3">
    <%- include('../partials/navbar') %>
    <%- include('../partials/default') %>
    <%- include('../partials/footer') %>
</body>
</html>